<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fondo animado</title>
    <link rel="stylesheet" href="/templates/css/styles2.css">
</head>
<body>
    <header class="bg_animate">

        <section class="banner contenedor">
            <secrion class="coontenedor">
                <h2>UTA <br> conocenos</h2>
                <!-- Botón con la animación -->
                <a href="{{ url_for('index') }}">Acompañanos</a>
            </secrion>
            <div class="banner_img">
                <img src="/templates/img/tiburon.png">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>

    <!-- Agrega cualquier otro contenido necesario aquí -->

</body>
</html>